
.photo-carousel {
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
    padding: 1em;
    border-radius: 25px;
    border: solid 2px var(--dark-blue);
    width: 75%;
    margin: auto;
}

.photo-carousel {
    max-width: 50%;
    margin: 0 auto;
}

.photo-carousel img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    border-radius: 10px;
}

#wrapper {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 1em;
    width: auto;
    margin: 0 auto;
}

main {
    padding: 0;
}

.gallery-caption {
    margin: auto;
    text-align: center;
}

h1 {
    color: var(--white);
    text-align: center;
    margin-top: 1em;
}

.space {
    padding: 0;
    background-color: var(--dark-blue);
}