button {
    background-color: var(--dark-blue);
    color: var(--white);
    text-align: center;
    padding: 1em;
    border-radius: 25px;
    border: solid 2px var(--white);
    width: 25%;
    margin: 1em 0;
}

button:hover {
    background-color: var(--blue);
}

main div {
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
    padding: 1em;
    border-radius: 25px;
    border: solid 2px var(--dark-blue);
    width: 75%;
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    justify-items: center;
}

#gallery-image {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

#gallery-caption {
    font-size: 1.5em;
    grid-row: 2;
    grid-column: span 3;
    margin: auto;
}